*{
    padding:0;
    margin:0;
    letter-spacing: 0.1rem;
}

header {
    height:7vh;
    background-color:#FAF9F6; 
    
}

.text-1{
    padding-left:5%;
    padding-top:0.5%;
    
    font-family: Roboto, sans-serif;
}

#input-div {
    background-color:#89CFF0;
    height:15vh;
}

input {
    width: 60%; /* Increase the width slightly to give more space for the input box */
    margin-top: 1.5%; /* Adjust the margin to align the input box and button */
    margin-right: 2%; /* Adjust the margin to align the input box and button */
    border-radius: 5px;
  }

/* input{
    float:right;
    width:50%;
    margin-right:25%;
    margin-top:3%;
    border-radius:5px
} */

button {
    width: 30%; /* Increase the width slightly to give more space for the button */
    margin-top: 1.5%; /* Adjust the margin to align the input box and button */
    margin-right: 2%; /* Adjust the margin to align the input box and button */
    border-radius: 5px;
    padding:5px;
    box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.2);
  }
/* button{
    float:right;
    border-radius:5px;
    margin-right:2.5%;
    margin-top:0.25%;
    width:20%;
    font-size:1.5em;
    padding:10px;
    box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.2);
    
} */
button:active{
    background-color:lightblue;
    box-shadow:none;
}

.text-2 {
    color:#FAF9F6;
    float:left;
    margin-right:5%;
    margin-left:5%;
    margin-top:1.5%;
    font-size:2.5em;
}



#weatherData{
    clear:both;
    height:100vh;
    background-image:url(clouds.jpg);
    padding:20px;
    text-align:center;
    font-size:30px;
}

.info {
    color:red;
}

.box {
    border:2px solid black;
    width:50%;
    margin-left:23%;
    margin-top:2%;
    margin-right:auto;
    padding:25px;
    background-color:white;
    
}

/* Using class rather than id because it is set from JS file */
.advice{
    margin-top:5%;
    padding:20px;
    background-color:white;
    height:50%;
    border:2px solid black;
}


.warm {
    padding-top:2%;
    height:300px;
    width:400px;
}

.cold {
    padding-top:2%;
    height:250px;
    width:250px;
}

.tempImg {
    height:50px;
    width:50px;
}



@media only screen and (max-width: 1200px) {

    #input-div {
        background-color:#89CFF0;
        height:20vh;
    }
    
    .text-2 {
        color:#FAF9F6;
        float:left;
        margin-right:1%;
        margin-left:5%;
        margin-top:1.5%;
        font-size:2.5em;
    }

    button {
        width: 30%; /* Increase the width slightly to give more space for the button */
        margin-top: 1.5%; /* Adjust the margin to align the input box and button */
        margin-right: 2%; /* Adjust the margin to align the input box and button */
        border-radius: 5px;
        box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.2);
      }


    .advice{
        margin-top:5%;
        padding:20px;
        background-color:white;
        height:60%;
        border:2px solid black;
    }
}


@media only screen and (max-width: 850px) {

   
    input,
    button {
      float: none;
      width: 80%;
      margin-right: 0;
      margin-top: 2%; /* Adjust the margin to create some spacing between the elements */
      margin-left:10%;
    }

     .text-2 {
        font-size:2.5em;
        margin-left:10%;
    }

    .advice{
        margin-top:5%;
        padding:20px;
        background-color:white;
        height:80%;
        border:2px solid black;
    }
}


  }

